[2018-02-09 11:43] roughike opened #1 "Improve documentation for currentSession getter"
This line:

might give the users the impression that they have to persist the Twitter sessions manually by themselves. This isn't most likely the case: the Twitter SDK should remember the login.

[2018-02-09 12:35] roughike opened #2 "sessionDataToMap might crash the plugin"
https://github.com/roughike/flutter_twitter_login/blob/master/ios/Classes/TwitterLoginPlugin.m#L65

It should return NSNull instead of nil. Nil can't be had as value in NSDictionary.

[2018-02-24 10:41] #1 closed, assigned to nobody

[2018-02-24 10:41] #2 closed, assigned to nobody

[2018-03-22 16:55] roughike opened #4 "Migrate to Dart 2"

[2018-03-24 11:48] #4 closed, assigned to nobody

[2018-04-01 18:23] codigo47 opened #6 "android app crash after adding package on flutter 2.3"
Hi Liro, I updated Flutter to 2.3 and the android app crashes on the startup.

When I remove **flutter_twitter_login: "^1.0.1"**, the app works well.

[2018-04-01 18:49] roughike commented on #6
Hi!

Are you using Dart 2? If yes, did you try the version `1.1.0`, which is the only Dart 2 compatible version so far?

If not, could you:

1. copy-paste the stack trace you have when the app crashes
2. run `flutter doctor` and copy-paste the output here?

I'll have time to investigate this tomorrow, but any more context would help.

[2018-04-01 20:13] codigo47 commented on #6
Hi, I'm using Dart 2.0, I tried **flutter_twitter_login: "^1.1.0"**, but I got the same result,

![image](https://user-images.githubusercontent.com/1730379/38176998-aba849aa-35cf-11e8-822b-664c34f933f4.png)

## Debug
C:\Sistemas\flutter\flutter1> flutter run --trace-startup
Using hardware rendering with device Android SDK built for x86. If you get graphics artifacts, consider enabling software ren

[2018-04-01 20:21] roughike commented on #6
Thanks!

If you can, could you open Android Studio and see the logcat output as well? Seems like it could be a crash on the native Android side.

I'll try to reproduce with the same stack as you have when I can anyway, but if you could do that, I would be sure that I'm reproducing the same issue.

[2018-04-01 21:13] codigo47 commented on #6
## Logcat:
04-01 18:10:08.424 15322-15351/? W/common.FileUtils: Failed to set dir world executable: java.io.FileNotFoundException: /data/user_de/0/com.google.android.gms/files/gmscore_global_dirs.txt: open failed: EACCES (Permission denied)
04-01 18:10:08.425 15322-15351/? W/common.FileUtils: Failed to set dir world executable: java.io.FileNotFoundException: /data/user_de/0/com.google.android.gms/

[2018-04-07 19:26] roughike commented on #6
Hey, I just tried to reproduce this on an Android emulator, with API level 24 and same Flutter version as you did. No luck there.

Does cloning this repo and running the sample app crash as well?

[2018-04-10 15:16] codigo47 commented on #6
Hey, sorry the delay, I updated Flutter and Android SDK (using API Level 26) and it works fine now!, thanks for your help!

## Flutter Doctor
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel beta, v0.2.8, on Microsoft Windows [Version 10.0.16299.309], locale es-AR)
[√] Android toolchain - develop for Android devices (Android SDK 27.0.3)
[√] Android Studio (version 3

[2018-04-10 15:19] roughike commented on #6
Hey, that's nice to hear! Please comment if the crash happens again.

[2018-04-10 15:19] #6 closed, assigned to nobody

[2018-06-19 14:47] robert-stevens opened #8 "Example returns error"
Hi.

I cloned the example, changed nothing and ran it on genymotion. When tapping on "Log in" it opens the web browser and then goes back to the app with an error:

"Failed to get request token".

I have tried this with my twitter credentials as well, same error.

I also tried your plugin with Firebase & Flutter, and I got an error saying that no callback url was specified.

I know that with my Re

[2018-06-20 08:08] robert-stevens commented on #8
@roughike

This seems to only happen when the device doesn't have the twitter app installed on it. If possible I would still like to solve this for users who would like to sign up using twitter although (for some odd reason they don't have twitter on their phone).

I have also tried un/locking the callback URL on Twitter. It doesn't make a difference unfortunately.

Any advice?

[2018-06-20 09:39] roughike commented on #8
Is the problem only on Android? Could you attach `flutter doctor` output so I could try debug this later?

[2018-06-20 09:42] robert-stevens commented on #8
I have only tried it on Android. I will try to make time later to test it on iOS.

Doctor:

[✓] Flutter (Channel beta, v0.4.4, on Mac OS X 10.13.5 17F77, locale en-ZA)
    • Flutter version 0.4.4 at /Users/user/flutter
    • Framework revision f9bb4289e9 (6 weeks ago), 2018-05-11 21:44:54 -0700
    • Engine revision 06afdfe54e
    • Dart version 2.0.0-dev.54.0.flutter-46ab040e58

[✓] Android toolc

[2018-07-08 19:21] alexdelorenzo opened #9 "iOS example fails with error in emulator"
After compiling and running [the example application](https://github.com/roughike/flutter_twitter_login/tree/master/example) on the iOS 11.4 emulator, clicking the "Log In" button will fail with this error:

I've tried replacing the consumer key and secret with my own, and I receive the same error above.

Here's my `flutter doctor -v`

[code]

[2018-07-08 19:31] alexdelorenzo commented on #8
Can confirm this issue, as well. Built and ran the example application, hitting the "Log In" button causes what looks like a WebView to pop up and then disappear, bringing the user back to the app's home screen.

Build warnings:
[code]

Output from the debugger:
[code]

Flutter doctor:
[code]

edit: Can also confirm that this will work on a physical device if the user has Twitter installed and is

[2018-07-09 08:48] robert-stevens commented on #8
@roughike have you been able to spend time on this issue? Tx

[2018-07-17 12:16] shadymostafa commented on #8
@roughike do you plan to fix this issue? It's really annoying to have such issue where user can't use twitter account if the app is not installed.

[2018-07-25 16:02] eudangeld commented on #9
I have the same problem here on real device and simulator IOS 11.4.1

[2018-07-30 16:17] eudangeld commented on #9
[SOLVED]
@thismachinechills
go to your app setting in: https://apps.twitter.com/app
In URLCallback just add the following urls:
Android - twittersdk://
iOS -CONSUMERKEY://

Works for me on IOS simulator and real device

[2018-08-08 14:17] KammererTob commented on #8
I believe that this problem is realted to some changes made on the Twitter side and is not caused by this library.
Read:
https://twittercommunity.com/t/callback-url-not-approved-but-worked-for-months/107261
And:
https://developer.twitter.com/en/docs/basics/developer-portal/guides/callback-urls.html

in short (for Android):
Add "twittersdk://" to your Callback URLs inside the Settings Tab of your T

[2018-08-22 05:39] deckerst opened #11 "Incompatible with Twitter Kit 3"
It seems that flutter_twitter_login 1.1.0 is only compatible with Twitter Kit v2.x, and fails to compile with Twitter Kit v3.x.

This is a blocker for me because other dependencies require that my iOS project has a minimum deployment target of 10.0, which then enforces Twitter Kit v3.x (I'm not proficient at Xcode/iOS development, but this seems to be the reason).

[2018-08-23 06:26] isoos opened #12 "Get Error TwitterKit/TwitterKit.h file not found"
_From @lucyhoang on August 23, 2018 2:22_

URL: https://pub.dartlang.org/packages/flutter_twitter_login

Hi, when i using this package with setting ios platform is 9, then i will get the error "TwitterKit/TwitterKit.h file not found".
It loaded TwitterKit v3.0 but the code logic using api of TwitterKit v2.8

_Copied from original issue: dart-lang/pub-dartlang-dart#1542_

[2018-08-31 07:56] mtellect commented on #9
i get this error on iOS build
- Running pre install hooks
    [!] The 'Pods-Runner' target has transitive dependencies that include static binaries:

[2018-08-31 18:22] eudangeld commented on #11
@deckerst
I forked this repo and updated TwitterKit to 3>.
Checkout => https://github.com/eudangeld/flutter_twitter_login
In your pubspec add =>

[code]

[2018-08-31 18:23] eudangeld commented on #12
@isoos
I forked this repo and updated TwitterKit to 3>.
Checkout => https://github.com/eudangeld/flutter_twitter_login
In your pubspec add =>
flutter_twitter_login:
git: git://github.com/eudangeld/flutter_twitter_login.git

[2018-08-31 19:38] isoos commented on #12
it is @lucyhoang who had the issue, I've just moved it.

[2018-09-03 01:31] deckerst commented on #11
@eudangeld great, thank you!

I've tried it and it works fine, but I'd like to suggest a few things regarding the doc in README:
- you could remove the "IOS SETUP" AppDelegate change section (copied from the official Twitter doc) as it works without the change,
- same with the "SETUP YOUR PODFILE" section, the default seems fine,
- you could mention the requirement that the minimum deployment targ

[2018-09-03 14:01] eudangeld commented on #11
@deckerst
Thank's for your feedback, i changed the readme .

[2018-09-14 22:15] devapalanisamy commented on #11
If I add the above lines in pubspec, I get the below error.

Error on line 24, column 8 of pubspec.yaml: Invalid version constraint: Could not parse version "git://github.com/eudangeld/flutter_twitter_login.git". Unknown text at "git://github.com/eudangeld/flutter_twitter_login.git".
  git: git://github.com/eudangeld/flutter_twitter_login.git
       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

[2018-09-15 19:08] leocavalcante commented on #11
@devapalanisamy
You have to add a tab (usually, 2 spaces), YAML parsing is strongly relaying on that, like Python.

[code]

[2018-09-17 10:50] isoos opened #14 "Exception throw when login in IOS"
_From @lucyhoang on September 17, 2018 10:32_

URL: https://pub.dartlang.org/packages/flutter_twitter_login#-versions-tab-

Hi, i am trying to use this packages.
But i get a trouble when login with ios.
I create an app on twitter, setting callbacks are : twitterkit-consumerKey:// (for ios) and twittersdk:// (for android)
Then i use your example to run. It's run well on android.
But i got exception

[2018-09-17 22:58] dlutton commented on #9
@mtellect I ran into the same issue.  They need to update this package to include `s.static_framework = true` inside their flutter_twitter_login.podspec file.

You can view the issue here:
[issue](https://github.com/flutter/flutter/issues/14161)

I was able to fork this repo, make the change, and confirmed it worked.

I also opened a PR for this fix.

[2018-09-18 01:46] tamhoang113 commented on #14
Hi,
I have found my incorrect step.
I have not config CFBundleURLTypes in Info.plist
Now, it run well.
Sorry for my misunderstand :)

[2018-09-19 16:07] devapalanisamy commented on #11
Thanks @leocavalcante
It works

[2018-10-29 08:19] ZeroCool00 commented on #12
is this issue solved yet? i face this problem today
In android its working fine, in ios not able to run.

https://stackoverflow.com/questions/47918893/i-am-getting-error-that-import-twitterkit-twitterkit-h-not-found-in-xcode

[2018-10-30 15:59] eudangeld commented on #12
@ZeroCool00
Checkout => https://github.com/eudangeld/flutter_twitter_login

[2018-11-17 23:52] kentcb opened #16 "Example not working"
Hi,

Thanks for writing this plugin.

I cloned the example and ran it on Android (Pixel) with the Twitter app installed. I get the same behavior I'm getting in my actual app:

* the Twitter authorization view appears
* I tap **Connect**
* It says "Authenticating" then displays exactly the same Twitter authorization view
* I tap **Connect** again, it says "Authenticating" again, then it takes me ba

[2018-11-18 00:12] kentcb commented on #16
I get exactly the same behavior if I use the Flutter_Social_login by @YahiaAgwa [here](https://github.com/YahiaAgwa/Flutter_Social_login).

[2019-01-15 16:37] androidmaven commented on #12
I'm also still having this issue. I have tried the above suggestions, but still gives error. Please help!!!

[2019-01-17 13:43] ukrx-xamd commented on #12
As @eudangeld  mentions - just reference his repo for flutter_twitter_login in your pubspec.yaml. You will also need to ensure your pod's define a platform of 10.1 since the TWTRKit.h is now referenced & his podspec defines a min ios version of 10.1,.

You may also need to remove :
[code]
then after you have defined a min platform of **10.1** in your podfile, just make a simple change to your pubs

[2019-02-14 10:43] oliverbytes commented on #12
This worked like a charm for a Flutter Swift project. but for a Flutter ios project with objective c I still get this error.

[2019-02-14 10:46] ukrx-xamd commented on #12
Flutter OBJ-c project requires bridging header support to allow mix of OBJ-c and Swift packages. Just open your project in x-code and create  a swift file, this will create the necessary bridging file.

[2019-02-14 13:09] oliverbytes commented on #12
I didn't create/add a swift file using xcode but it just fixed itself. maybe after a few cleaning of build folder and re fetching the git repo package.. anyway thanks a lot for pointing out here how to fix these issues not mentioned by eudangeld.. huge thanks to eudangeld as well!

[2019-02-14 13:17] ukrx-xamd commented on #12
Your welcome, but yes - main 'shout out' -> @eudangeld as his forked repo provides the 'glue' to make this all work.

At some stage if you started out with the default Obj-c enabled project - as you add more and more plugins, you will definitely experience the issues of the plugins not working in your iOS project and wont be able to compile, keep my suggestion re: Creation of a bridging file in yo

[2019-02-14 13:57] oliverbytes commented on #12
Mine now has a bridging header, I guess it just generated by itself maybe or maybe was already there when I created the project before. But right now I'm having an error on my other swift project

[code]

[2019-02-14 14:10] ukrx-xamd commented on #12
First approach would be :

1)  Delete builds -> Flutter clean
2) Delete app from device
3) Did you add swift support to your PodFile with min version 4.0 ?

Other :

The error appears potentially because you have a static library that has been built for a different architecture. I'm assuming you tried to deploy this on a real device ? Do you get the same error if you deploy to a simulator ?

Try a

[2019-02-14 18:19] sbellina opened #17 "TwitterKit errors not propagating through authorize()"
The error is not caught/propagated through authorize() on systems where the twitter app is not installed.

When calling authorize()  with:

1) result = await twitterInstance.authorize().catchError((e) => print("${e.toString()}"));
   or
2) try{
  result = await twitterInstance.authorize();
}catch(e){
  print("${e.toString()}");
}

log result e.x.:
12:04:16.156 172 info flutter.tools [TwitterKit] d

[2019-02-14 23:19] oliverbytes commented on #12
Hi @ukrx-xamd I only tried in the simulator, also I am just trying to manually build it for debug not running it yet. I've also tried cleaning the build folder. The weird thing is this error only happens on my desktop mac computer but not on my macbook.

How do I add support for swift in my pod file? Is it by using use_frameworks! ?

Thank you so much for trying to help my problem.

[2019-02-15 10:40] ukrx-xamd commented on #12
Thats bizarre. If you have the same Flutter project running correctly on your macBook (with exactly the same versions plugins in your podfile) but not on your desktop mac .

**I would check that you have :**

**https://github.com/roughike/flutter_twitter_login/issues/12#issuecomment-455176298**

To support SWIFT  (Changes made in your PODFILE) :

**1. Specify minimum Swift version that your swift

[2019-03-31 09:02] thanhvn15 opened #19 "Apple Store Rejection"
When i add this lib to my app and upload to app store, i have received email rejection of apple store. I think it related to this issue:
https://github.com/twitter/twitter-kit-ios/issues/90
can anyone help me solve this issue ?

[2019-04-11 22:39] psycry commented on #9
Worked for me

[2019-04-16 09:33] pitazzo commented on #16
Exactly same error here, the problem is in `final TwitterLoginResult result = await twitterLogin.authorize();`

Any help will be appreciated

[2019-04-18 20:29] pitazzo opened #20 "Handling API keys"
As long as this plugin requires the consumer key and the consumer secret in order to build a `TwitterLogin` instance, which is the best way to handle this situation? How secure is to hardcode those keys? Could be dangerous exposing them in a version control system?

Thanks in advance

[2019-05-07 08:54] kazenokage commented on #19
@roughike this package needs either some attention, deprecation or at least a notification because of the Twitter SDK EOL.

[2019-06-06 00:18] emvaized opened #21 "Examples of functions"
Can someone please give me simple examples of functions mentioned in sourse code, especially fetchTweets() and sendTokenAndSecretToServer()?

[2019-06-13 08:17] HenryQz commented on #12
change #import <TwitterKit/TwitterKit.h> to #import <TwitterKit/TWTRKit.h> in file TwitterLoginPlugin.m
add TwitterKit.framework,TwitterCore.framework to flutter_twitter_login.podspec
it works for me

example:
[code]

[2019-07-11 10:56] MsXam commented on #12
That git gives errors with latest Flutter SDK (1.7.8)

Xcode build done.                                            5.4s
Failed to build iOS app
Error output from Xcode build:
↳
    ** BUILD FAILED **
Xcode's output:
↳
    === BUILD TARGET path_provider OF PROJECT Pods WITH CONFIGURATION Debug ===
    In file included from /Users/xamxam/workspace/_projects/ajax/ios/Pods/Mantle/Mantle/extobjc/EXTSc

[2019-07-11 15:19] eudangeld commented on #12
@MsXam
Try this:
• ```flutter clean```
• delete ```ios/podfile.lock``` and ```ios/Pods```
• update  cocoapods to latest stable version  ```sudo gem install cocoapods```
• ```pod repo update```
• ```flutter run```

[2019-07-11 15:48] MsXam commented on #12
Hi @eudangeld  - Since my last post I have gone back to 1.5.4-Hotfix2 & also have your git in pubspec.yaml -

` flutter_twitter_login:
    git: git://github.com/eudangeld/flutter_twitter_login.git`

cocoapods = 1.7.4

Thoroughly cleaning project with everything you mentioned above plus also  cleaning/removing .packages, .flutter-plugins, .pub-cache, DerivedData, pubspec.lock  & also doing a pod de

[2019-07-11 16:10] eudangeld commented on #12
@MsXam
Can you share your project with me so I try to reproduce this error?

[2019-07-11 16:30] MsXam commented on #12
Because of the nature of the app, unfortunately it is not possible to share the full app. However - removing all instances of the flutter_twitter_login plugin , the app builds successfully and runs (albeit without twitter authentication - I will try and create a skeleton of the app which demonstrates the issue first and then send over.

[2019-07-11 21:49] MsXam commented on #12
@eudangeld -  Try this minimal flutter project and see if you also get the build errors when you try to build for iOS.

You will need to first  - flutter pub get, then pod install as .packages, pods, lock etc was removed to make the file small.

Also removed :

a-  Flutter in ios/Flutter/Flutter.framework
b- flutter_assets in ios/Flutter

Pubspec just contains a reference to twitter login that is

[2019-07-12 16:36] MsXam commented on #12
@eudangeld  -  It would appear the issue is related to also trying to add the plugin **flutter_tts**  to any project that has this twitter plugin. Since Flutter_TTS is a swift plugin, and assuming you have an **objective C** project that cannot be re-created as a swift project - then adding the Flutter_tts requires a couple of extra steps :

- Must specify use_frameworks!
- Must specify a SWIFT_VE

[2019-07-18 09:27] rdev-software opened #22 "Cannot build it"
Cannot build with following output:

[code]

Is there any plan to move this plugin from deprecated TwitterKit to for example https://github.com/mattdonnelly/Swifter

[2019-07-30 00:47] lv-kit opened #23 "I want to know when there are multiple CallbackURLs"
Currently, we are implementing a login function using TwitterApp.

And this TwitterApp has multiple callback urls.

However, I did not know how to set it to use one callback url.

Could you tell me if there are people who understand it?

[2019-08-01 08:21] #23 closed, assigned to nobody

[2019-08-01 08:22] lv-kit commented on #23
I felt that this was not the cause, so I closed it.

[2019-08-01 10:33] lv-kit opened #24 "uncaught exception 'TWTRInvalidInitializationException'"
When I try to login with Twitter,
The following error will cause the app to fail without catching the error.

[code]

@roughike

[2019-08-01 11:12] kaumudpa commented on #22
@rdev-software You found a way to fix this?

[2019-08-01 11:24] rdev-software commented on #22
No, I was expecting some reply from "owners" of this repo, as it seems really dead.
I spoke to people from firebase / flutter community and they dont care about twitter either.
So I guess only way is to rewrite iOS part using library I mentioned...and then use similar approach on Android if there is any other, better maintained project

[2019-08-01 11:51] kaumudpa commented on #22
I know, I am looking to use Oauth with webview to get auth done, lets see how it goes!

[2019-08-01 13:04] lv-kit commented on #24
Another error

[code]

I did
1. flutter clean
2. rm -rf ios/Pods ios/Podfile.lock ios/.symlinks
3. flutter pub get
4. flutter pub upgrade
5. cd ios && pod install && pod repo update && pod update
6. flutter run

[2019-08-09 21:35] eudangeld commented on #12
@MsXam
Sorry for the delay.
I managed to figure out the problem.
First i updated my repo to use a specific version of Twittetkit and TwitterCore version.
After that on Xcode go to target "flutter_twitter_login" and check March-O Type to static library.
This works for me using your example code.

<img width="1400" alt="Screen Shot 2019-08-09 at 18 34 16" src="https://user-images.githubusercontent.c

[2019-08-11 10:14] MsXam commented on #12
@eudangeld - I still get the problem. Could you share your pubspec so that I can see which twitter plugin/version you are referring to ? Additionally - can you advise if you have TWTR SDK installed and referenced anywhere in your PATH ?

Thank you.

[2019-08-11 21:51] Fallenstedt commented on #8
I have added "twittersdk://" and a firebase callback url "https://redacted.firebaseapp.com/__/auth/handler" and cannot get this plugin to work with an android emulator.

I then tested this plugin on a physical device that had the twitter app installed and was able to login well.

@roughike how can we help you fix this issue?

[2019-08-12 04:16] Fallenstedt commented on #8
Adding "twittersdk://" as a callback url worked for me. Thanks @KammererTob . I can run an emulator and use this plugin well.

[2019-08-12 16:51] eudangeld commented on #12
@MsXam
No, i don't have nothing about twitter installed or referenced in my path.

I just redo the whole process again and everything worked perfectly.
Using Flutter v1.8.4 on Mac OS X 10.14.5
Xcode Xcode 10.3

Pubspec.yaml
[code]

[2019-08-22 21:53] biawar commented on #16
I got the same error of you @Pitazzo. When you try to print the message error shows "Failed to get request token" :/. Did you solve it?

[2019-08-29 16:06] codxse commented on #12
Hi @eudangeld, thanks for the fork. It compiled! I appreciate it :)

But still I have an issue on iOS device.

[code]

Appreciate your feedback.

[2019-08-29 16:22] eudangeld commented on #12
Hi @codxse thanks for the feedback.
This error is probably related to the info.plist.
`<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>twitter</string>
		<string>twitterauth</string>
	</array>`
And
`<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>twitterkit-yourAPIKEY</string>
			</array>
		</dict>
	</array>`

[2019-08-29 16:28] eudangeld commented on #12
@MsXam
I think I found the problem.
Try it out.
Check the destination for Twitterkit and TwitterCore before build.

<img width="1945" alt="Screen Shot 2019-08-29 at 13 24 40" src="https://user-images.githubusercontent.com/453488/63958526-e807b080-ca60-11e9-8236-cbb87162620c.png">

[2019-08-29 17:14] codxse commented on #12
@eudangeld

thanks for the feedback btw,

here my Info.plist
[code]

as you can see, I have include both `LSApplicationQueriesSchemes` and `CFBundleURLTypes`. Again, the app still throwing exception :(

[2019-08-29 17:16] codxse commented on #12
<img width="1399" alt="Screen Shot 2019-08-30 at 00 12 04" src="https://user-images.githubusercontent.com/5813694/63961621-609b5b00-cabb-11e9-8ac7-4a059ae5e432.png">

[2019-08-29 17:53] eudangeld commented on #12
@codxse
Check your Twitter app settings to
<img width="532" alt="Screen Shot 2019-08-29 at 14 48 43" src="https://user-images.githubusercontent.com/453488/63964089-bc8ac300-ca6c-11e9-98a8-9752f33a0c46.png">

[2019-08-29 18:04] codxse commented on #12
Funny, the only callback I not added yet was `YOURKEY://`

And it can't be added :'(

I think I have to drop twitter support for iOS.

<img width="475" alt="Screen Shot 2019-08-30 at 01" src="https://user-images.githubusercontent.com/5813694/63964809-1669a800-cac2-11e9-8db9-91fa6265de07.png">

[2019-08-31 04:26] houko commented on #12
yes, but I have to change to deploy target version >10.1

[2019-09-14 23:38] x8Haider commented on #16
Hi,

I solved this by following below:

It is important to configure the callback URLs so that everything works correctly in your application.

You will have to use the following callback URLs:

Android - twittersdk://

iOS - twitterkit-CONSUMERKEY://

FOR MORE INFORMATION READ: https://developer.twitter.com/en/docs/basics/developer-portal/guides/callback-urls.html

[2019-09-23 09:54] ahmedsalamay commented on #22
same as here
↳
    warning: The use of Swift 3 @objc inference in Swift 4 mode is deprecated. Please address deprecated @objc inference warnings, test your code with “Use of deprecated Swift 3 @objc inference” logging enabled, and then disable inference by changing the "Swift 3 @objc Inference" build setting to "Default" for the "Runner" target. (in target 'Runner')
    Undefined symbols for archi

[2019-09-24 10:42] iPatel007 commented on #24
Same issue I'm facing any update for solution ?

[2019-09-26 17:55] lukepighetti commented on #20
Yeah I don't understand this at all. I didn't know oauth clients ever needed the secret?

[2019-11-01 12:38] willladislaw opened #26 "Specs satisfying the `flutter_twitter (from `.symlinks/plugins/flutter_twitter/ios`)` dependency were found, but they required a higher minimum deployment target."
Launching lib/main.dart on iPhone 11 Pro Max in debug mode...
flutter: 0
Running pod install...
CocoaPods' output:
↳
      Preparing

    Analyzing dependencies

    Inspecting targets to integrate
      Using `ARCHS` setting to build architectures of target `Pods-Runner`: (``)

    Finding Podfile changes
      A flutter_twitter
      - Flutter
      - connectivity
      - flutter_web_view

[2019-11-06 12:14] dmakwt commented on #26
Did you find solution? because I have same issue.

[2019-11-06 19:37] willladislaw commented on #26
I'm waiting for a response.

[2019-11-07 10:25] willladislaw commented on #26
The lack response leads me to think this plugin is no longer maintained and is out of date.

[2019-11-07 11:12] willladislaw commented on #26
Lack of commits leads me to think this plugin is no longer maintained and is now out of date.

[2019-11-07 12:23] dharialenezi commented on #26
Yes, maybe we should found another one or  make one

[2019-11-07 14:04] willladislaw commented on #26
I have a moved on to something else for now.  If you find anything do post.

[2019-11-08 05:07] HaoCherHong commented on #9
In URLCallback just add the following urls:
Android - twittersdk://
iOS -CONSUMERKEY://

iOS should be `twitterkit-CONSUMERKEY://`

[2019-11-11 06:10] DesortsSolution opened #27 "Twitter login exception iOS"
It's working with Android but i get a trouble when login with iOS.

     `<key>CFBundleURLTypes</key>
      <array>
      <dict>
          <key>CFBundleTypeRole</key>
          <string>Editor</string>
          <key>CFBundleURLSchemes</key>
           <array>
            <string>twitterkit-mmjB8lbQe3wsBhx*********></string>
          </array>
         </dict>
        <dict>
         <key>CFBundleT

[2019-11-11 06:24] DesortsSolution opened #28 "Login with firebase not working"
I tried to login with firebase but it's not working ( I tested with android only)

Code

     `final AuthCredential credential = TwitterAuthProvider.getCredential(
           authToken: session.token,
           authTokenSecret: session.secret,
         );
         final AuthResult response =
            await _auth.signInWithCredential(credential);`

Exception

   `E/AndroidRuntime(17566): FATAL

[2019-11-16 12:34] iamvivekkaushik commented on #28
having the same issue

[code]

Error log
[code]

[2019-11-18 03:04] Fallenstedt commented on #28
This is not an issue with this package. This is an issue with flutter/engine.
A fix has been merged into flutter engine, however, it is not available in the stable channel. Flutter stable is released quarterly. Hopefully the next stable release will have a fix for this.

Please see https://github.com/flutter/flutter/issues/37681 to learn how to make a temporary fix if Android development is essent

[2019-11-18 19:27] willladislaw commented on #27
find a solution?

[2019-11-29 16:02] Faiyyaz commented on #24
Same issue any solution?

[2019-12-03 14:21] Kiruel opened #29 "Bug on compilation"
Just after adding twitter in the pubspec like this `flutter_twitter: ^1.1.3` then I compile for Android I have this error:

[code]

### Flutter doctor:

[code]

[2019-12-03 14:26] Kiruel commented on #29
To fix it I have to follow this: https://github.com/flutter/flutter/issues/20747#issuecomment-414126225

[2019-12-06 10:58] lithinthomas1996 commented on #28
I too got the same issue with this Package...
" java.lang.IllegalArgumentException: Unsupported value: null".

I had Upgraded flutter engine.. But still getting the error

[2019-12-27 12:36] A-team-solace opened #30 "Issue while create release apk"
* What went wrong:
Execution failed for task ':flutter_twitter_login:verifyReleaseResources'.

  C:\Users\Shubham\AndroidStudioProjects\go_flite_12_12\build\flutter_twitter_login\intermediates\res\merged\release\values\values.xml:247: error: resource android:attr/fontVariationSettings not found.
  C:\Users\Shubham\AndroidStudioProjects\go_flite_12_12\build\flutter_twitter_login\intermediates\res\m

[2019-12-31 04:57] iPatel007 commented on #30
getting same issue... I have posted question on StackOverFlow

https://stackoverflow.com/questions/59496368/execution-failed-for-task-flutter-twitterverifyreleaseresources?noredirect=1#comment105248897_59496368

Didn't find the solution

[2020-01-11 12:57] EmmanuelAmodu commented on #27
So many issues on this package is it still active, I have spend 2 day still no solution.

[2020-02-03 17:26] vhgn commented on #30
Fix this issue by referencing a fixed fork of this repo in `pubspec.yaml`

[code]

Delete `build` folder and `flutter clean` to be absolutely sure.

[2020-02-10 13:00] tyrinj1120 commented on #20
Other implementations for Facebook, Google etc don't require hard coding in the app. Why is this different? What are the options here for best practice?

[2020-02-10 15:37] lukepighetti commented on #20
The only thing I can think of is to provide it over something like Remote Config but to be completely honest with you I think the method employed by this package is not safe and it shouldn't be used.

[2020-02-10 15:42] tyrinj1120 commented on #20
@lukepighetti I thought of that too but then you would have to secure that endpoint too. Then it becomes a catch 22 situation. The Twitter development ecosystem is a mess. I'm not trying to dismiss the great work of the Twitter team.

[2020-02-12 21:37] scnctech commented on #26
I'm having the same issue here...  have you found any solutions? (works fine on android but i get the same error on iOS).

[2020-02-13 11:42] scnctech commented on #26
So I was looking at the code and they ask for a minimun deployment target of iOS 10.1...
If you set the target to 10.1 it works fine!

[2020-02-13 14:51] lukepighetti commented on #20
I agree it doesn't make sense.

[2020-03-03 17:19] surveshoeb commented on #8
@Fallenstedt can you guide me exactly were to add  "twittersdk://". I'm using firebase authentication with Twitter.

[2020-03-03 17:19] surveshoeb commented on #16
@x8Haider  can you guide me exactly were to add  "twittersdk://". I'm using firebase authentication with Twitter.

[2020-03-03 23:53] Fallenstedt commented on #8
@surveshoeb You can add `twittersdk://` to your callback urls in your application. Navigate to https://developer.twitter.com/en/apps to find your applications.

<img width="529" alt="Screen_Shot_2020-03-03_at_3_51_00_PM-2" src="https://user-images.githubusercontent.com/13971824/75830931-f95eac00-5d66-11ea-99e8-fef5dc6947c2.png">

[2020-03-05 07:50] surveshoeb commented on #8
@Fallenstedt Thanks, it worked.

[2020-03-09 03:03] kalsangdorjee commented on #30
This one worked for me :D

[2020-03-16 23:23] jbcaveman commented on #27
There is additional configuration required in the Info.plist for iOS.
https://stackoverflow.com/questions/44651236/twitterkit-3-0-twtrinvalidinitializationexception-error-in-ios

[2020-03-16 23:38] jbcaveman commented on #14
There is additional configuration required in the Info.plist for iOS.
https://stackoverflow.com/questions/44651236/twitterkit-3-0-twtrinvalidinitializationexception-error-in-ios

[2020-03-16 23:39] jbcaveman commented on #24
RE: the OP crash @ [TWTRTwitter logInWithViewController:completion:]
see issue #27
There is additional configuration required in the Info.plist for iOS.
https://stackoverflow.com/questions/44651236/twitterkit-3-0-twtrinvalidinitializationexception-error-in-ios

[2020-03-25 13:13] AmmarHazem opened #31 "Can't build release APK"
When I run `flutter build apk` it produces the following error

[code]

I've tried to migrate to Androidx using Android Studio but got the same error.

 **Steps to reproduce**
 - Create a new flutter project
 - add `flutter_twitter: ^1.1.3` to dependencies in pubspec.yaml
 - run `flutter build apk`

**flutter doctor output**
[code]

Thanks in advance.

[2020-04-04 13:33] deadsoul44 commented on #31
Try to change the compileSdkVersion of the package to 29.

[2020-04-04 13:45] AmmarHazem commented on #31
I did change it and now it gives me a new error
[code]

[2020-04-07 10:32] vhgn commented on #31
@AmmarHazem if you just need a Twitter Sign In button as I do, use this in your `pubspec.yaml` as a dependency.

[code]

Worked for me.

[2020-04-15 21:11] niypoo commented on #31
same issue

[2020-04-16 18:11] dannyhyatt commented on #26
@scnctech Disclaimer: I don't have a Mac, I use codemagic.io for builds. I've tried changing the target in the AppFrameworkInfo.plist to this

[code]

And I've also tried adding this line to Release.xcconfig:

`IPHONEOS_DEPLOYMENT_TARGET = 11.0`

Could you tell me how you changed the version?

[2020-04-16 18:24] scnctech commented on #26
@dannyhyatt So I did it through XCode on a mac. There is a setting in the app properties to set the minimun deployment target and it has a dropdown menu to choose one. I wouldn't know how to do it through a file, sorry.

[2020-04-26 12:17] niypoo commented on #31
It's not working for me and still give me same issue

[2020-05-01 10:51] niypoo opened #32 "ITMS-90809: Deprecated API Usage UIWebView"
`ITMS-90809: Deprecated API Usage - Apple will no longer accept submissions of new apps that use UIWebView as of April 30, 2020 and app updates that use UIWebView as of December 2020. Instead, use WKWebView for improved security and reliability. Learn more (https://developer.apple.com/documentation/uikit/uiwebview).
`

Is anyone can help , I think this package doesn’t have any support any more.

[2020-05-03 19:40] venil7 commented on #30
can you create a PR so its also fixed in "official" repo?

[2020-05-03 19:51] vhgn commented on #30
@venil7 #13 is a PR by the original creator of the fixed fork (eudangeld), it didn't get accepted as this project doesn't seem to be actively maintained by anyone.
My advice is to use this hack (referencing fixed fork in `pubspec.yaml`).

[2020-05-04 18:53] mwolffalonso opened #33 "TwitterLoginPlugin.java uses or overrides a deprecated API."
Hi, I am testing the Plugin without issues at Android virtual device but are you planning to correct this deprecated API warning?

[2020-05-04 22:52] jferas commented on #32
Did you find a resolution to this?  I don't see any alternatives out there and I need this for an app I'm working on. If there are no other choices, I'll probably take on the effort of forking this repo and seeing if I can replace the UIWebView with the recommended WKWebView.

[2020-05-05 09:37] Kiruel commented on #32
We need to use this on this package. https://github.com/twitter-archive/twitter-kit-ios/issues/120

I will make a PR soon.

[2020-05-05 12:45] Kiruel commented on #32
@jferas Can you test it and tell me if it's work well for you ? You just need to remplace your package like this:

[code]

[2020-05-05 13:17] jferas commented on #32
@kiruel Works great!  I had just added TwitterKit5 to the podfile in a fork that I had done as a test, and it worked... then I tried yours and it also works.. and I see you did some other nice enhancements also!  I've also verified that with TwitterKit5 in the pod file, my upload to the store no longer gets the "Deprecated" error.

Nice work... thanks!

[2020-05-05 15:01] niypoo commented on #32
thanks for your great effort , let me know what's the steps I have to change to test your package

[2020-05-05 16:39] jferas commented on #32
In your pubspec.yaml file in your flutter project... change your flutter_twiter_login reference to look like the one above....

[2020-05-06 06:12] Kiruel commented on #32
If I have more time I will probably make a new package but in kotlin/Swift with all dependency up to date. Because this package is not maintain.

[2020-05-06 11:46] niypoo commented on #32
I hope that I saw that all twitter packages are deprecated ,

but I still test it and I facing a issue that
After authorizing with Twitter, I get stranded on the following screen:
"redirecting you back to the application."
happened because I guess I'm using in AppDalegate.swift

[code]
that handle facebookKit auth , when I remove it's working as good

[2020-05-08 05:43] jerald-jacob commented on #27
me too

[2020-05-19 11:03] RaghuMudem opened #35 "Twitter login is not working in Web application."
Hi I have used the latest version of plugin for my application to provide twitter authentication. It is working fine in both Android and iOS.

But not working in Web application. Instead it is returning the below message when i tried to execute twitter login code.

[code]
--------
[code]
![image](https://user-images.githubusercontent.com/42538820/82318944-fde34a00-99d0-11ea-8608-b7f0637bc99e.png)

[2020-05-23 21:05] thassio-vinicius opened #36 "Getting "java.lang.IllegalStateException: Reply already submitted" when trying to sign in"
Recently I had an app crash caught by Firebase Crashlytics when trying to perform Sign in with twitter on Android 10. Here's the exception log:

[code]
Here's the Stack trace:
[code]

The output of my Flutter doctor:

[code]

[2020-05-25 21:35] sallypeters opened #37 "This plugin uses a deprecated API"

[2020-05-25 21:36] #37 closed, assigned to nobody

[2020-05-26 11:15] sallypeters commented on #32
@Kiruel Thanks for bringing in TwitterKit5 and removing the deprecated UIWebView.

I have an OJB-C created project - Do we need to do anything else in AppDelegate or Info.plist to have the callback work ? I get authenticated but am stuck at the 'Redirecting you back to the application' screen.

Note - everything worked with the OLD plugin (That contained the deprecated UIWebView) , so my URLScheme

[2020-05-26 13:32] Kiruel commented on #32
@sallypeters It's work for me, maybe you have a bad setting somewhere in Twitter Developer ?

For the Info.plist do you add this ?

[code]
Why array ? because I use facebook and google too. So example:
[code]

[2020-05-26 15:00] sallypeters commented on #32
Hey @Kiruel , thanks for the fast response - its weird as all this working for me for all of 2019 and only now since I tried the new plugin that resolves the deprecated UIWebView I have the issue. More interesting - when I go back to using the old plugin - I now have the same issue, i.e control doesnt go back to my app ...

In Android - no issues.

Also, in iOS , I have Facebook, Google, GitHub -

[2020-05-26 15:57] Kiruel commented on #32
You should use this :
[code]
It's more efficient.

[2020-06-03 16:10] tushardubey121 opened #38 "Update your code"
New apps that use UIWebView are no longer accepted. Instead, use WKWebView for improved security and reliability.

[2020-06-10 04:01] brasizza commented on #35
same here!

[2020-06-12 11:00] bpaul7101 commented on #32
@Kiruel @sallypeters @niypoo  Did you manage to get the Plugin working on iOS with respect to control going back to your app ? I have the same issue with my objective C project - I get authenticated by cannot get back to my app to continue the login flow . Is this an iOs (info.plist) issue or a Twitter settings issue or maybe an iOS 13.4 issue ?

Does anyone have any insight into this ? It works i

[2020-06-13 08:43] niypoo commented on #32
You have to tell ios to manage the callback after auth , put this code in AppDelegate.

[code]

it's read FacebookAppID from info.plist

[2020-06-14 09:26] ssbaval commented on #32
Hi @niypoo thanks for the code fragment, I'm guessing this is for a SWIFT created project - what if the project is OBJ-C created ? Also - I dont recall we had to do this previously - do you know what has changed ?

[2020-06-29 22:18] joaoarmando commented on #32
Hey Guys, i'm trying to login with Twitter in my app but unfortunately it's too slow... I've notice that it's taking more than 50 seconds to load and when it's loaded the html looks wrong.
The url on webView looks like this: https://api.twitter.com/oauth/authorize?force_login=false&oauth_token=4ftX8gAAAAAA2WzAAAABcwIfiog

I have those callback url's in my app on twitter dashboard:
twitterkit-CONSU

[2020-07-02 11:43] hgouveia commented on #31
this worked for me thanks!

[2020-07-10 08:54] CasperPas commented on #38
@roughike could you please update the package with this fix?
https://github.com/roughike/flutter_twitter_login/issues/32#issuecomment-624033596

[2020-07-16 09:37] johnpatrickroach commented on #12
I know support for this is discontinued, but I did finally get my iOS deployment to work with this.
In case anyone is still interested:
1. I made sure I updated info.plist to include the CFBundleURLSchemes and LSApplicationQueriesSchemes as detailed here.
2. I updated the targets for TwitterCore.framework and TwitterKit.framework under Pods as detailed here: https://github.com/roughike/flutter_twi

[2020-08-10 20:41] ciriousjoker commented on #30
@roughike Could you please accept the PR?

[2020-09-03 15:05] sunalive commented on #33
I have this issue too with flutter_twitter_login.  It worked well initially but when I closed and opened project again, it wouldn't compile and wouldn't let the emulator start the project with this error.

[2020-09-25 13:59] tommienu opened #39 "Please upgrade compileSdkVersion to 28"
`compileSdkVersion 27`

Causes the compilation to fail with:
`> A failure occurred while executing com.android.build.gradle.internal.tasks.Workers$ActionFacade

 /Users/x/.gradle/caches/transforms-2/files-2.1/3aaf6e5219b7f981ec263df919098c6f/core-1.1.0/res/values/values.xml:142:5-173:25: AAPT: error: resource android:attr/fontVariationSettings not found.`

Updating to 28 solves this issue.

[2020-10-17 21:15] pirmax commented on #8
I've the same error but I have already added twittersdk:// in callback URLs.

The error: Authorize failed come sometimes...

[2020-10-27 21:28] walteraa commented on #35
I am experiencing the same issue for Flutter web. Any solution @brasizza @RaghuMudem ?

[2020-10-28 15:51] walteraa commented on #35
This lib has no support for web. It is in the pub stuff.

[2020-11-19 09:19] canthelou-xyz commented on #26
Try adding this line in Podfile
platform :ios, '10.0'

[2020-11-22 13:11] NimaSoroush commented on #26
Try add/uncomment this line in Podfile

[code]

[2020-11-27 18:45] marcobraghim commented on #11
All right, thank you for that, it is compiling as well, but when I try to instantiate the TwitterLogin class the app suddenly closes without any feedback =/

My question is: Where can I open an issue with my env configuration to try figure it out?

[2020-12-01 19:02] eudangeld commented on #11
@marcobraghim
Open in my forked repo and i'l try to help you....

[2020-12-01 19:16] marcobraghim commented on #11
Thank you, but the issues option does not shows up in your repo.

Anyway, I found another package that works well for me, thank you very much.

[2021-01-05 11:07] muhammednazil opened #40 "While using this plugin it shows some error"
A problem occurred evaluating root project 'firebase_auth'. > Could not find the firebase_core FlutterFire plugin, have you added it as a dependency in your pubspec?

Can you please find me what is the error in it

[2021-01-08 19:00] himanshu5057 commented on #32
This is not working any more can you please update the package?

[2021-02-09 16:28] shivamstaq commented on #8
Twitter seems to have changed its developer portal. I was unable to find a way to add callback URLs. Can someone please tell me where I can find it?

[2021-02-10 05:18] surveshoeb commented on #8
@skpatrat Open https://developer.twitter.com/en/portal/apps/ and select your App and navigate to bottom of the page to **Authentication settings.**

<img width="694" alt="Screenshot 2021-02-10 at 10 43 44 AM" src="https://user-images.githubusercontent.com/26933124/107468101-642a8100-6b8d-11eb-9550-67e620d8d829.png">

[2021-02-10 08:32] shivamstaq commented on #8
@surveshoeb Thanks. Got it :)

[2021-03-22 07:04] vinayvishnu725 commented on #8
adding  "twittersdk://" solved my problem aslo thank you all
<img width="529" alt="75830931-f95eac00-5d66-11ea-99e8-fef5dc6947c2" src="https://user-images.githubusercontent.com/49557370/111952271-dedea880-8b0a-11eb-9f8a-0245d1b0ee8e.png">

[2021-03-26 09:11] Davletvm87 opened #41 "What about migrate to null safety ?"

[2021-04-09 07:57] namchuai opened #42 "Is this library being maintained?"

[2021-04-11 06:37] #40 closed, assigned to nobody

[2021-04-15 21:32] 100lvlmaster commented on #41
https://github.com/roughike/flutter_twitter_login/pull/47
 someone review plox

[2021-04-15 21:34] 100lvlmaster commented on #39
https://github.com/roughike/flutter_twitter_login/pull/47
now we wait

[2021-05-19 19:09] luis-cruzt commented on #42
@roughike ?

[2021-05-21 12:10] namchuai commented on #42
For anyone stumbled on this. I'm using https://pub.dev/packages/twitter_login.

Snippet code with firebase auth.
[code]

[2021-06-04 11:36] dhruvd0 commented on #39
I'm facing the same issue, when are we getting an update on this?

[2021-06-06 13:56] PeterHdd commented on #42
For an example of using [twitter_login](https://pub.dev/packages/twitter_login), check: [Using Twitter Authentication With Firebase](https://petercoding.com/firebase/2021/06/06/using-twitter-authentication-with-firebase-in-flutter/)

[2021-06-09 06:51] huongntse commented on #27
i have intall app twitter when login twitter app open app twitter but open webview

[2021-06-19 03:28] dev4901 opened #48 "MissingPluginException (MissingPluginException(No implementation found for method authorize on channel com.roughike/flutter_twitter_login))"
On the first run, the app was working properly.
Afterwards, this error started showing up.

[2021-06-19 16:30] mohadel92 opened #49 "Bugs : with appstore release due to using of deprecated API"
i would like to enform  the users of this package that using it with flutter 1.22.5 or 1.22.6 causes
installation of older version of flutter_web_view package that causes using of deprecated API
called UIWebView

Apple refusal message
<a href="https://ibb.co/BgMvtkX"><img src="https://i.ibb.co/MR0KsdY/Screen-Shot-2021-06-19-at-6-25-28-PM.png" alt="Screen-Shot-2021-06-19-at-6-25-28-PM" border="0"><

[2021-06-29 11:28] madilsharief commented on #32
Any updated? App is not being uploaded to iOS store using this anymore and it still shows UIWebview

[2021-07-10 17:44] thealmamun opened #50 "After login state not returning to app"
Hi, I configured the app as per docs but it's not working properly after login it's not showing user details instead it's showing this page:  https://imgur.com/XdW82TU

Here's my flutter doctor:

flutter doctor -v
[✓] Flutter (Channel stable, 2.2.3, on Mac OS X 10.15.1 19B88 darwin-x64, locale en-GB)
    • Flutter version 2.2.3 at /Users/mamun/Developer/flutter
    • Framework revision f4abaa0735

[2021-07-12 23:15] mohadel92 commented on #32
same problem

[2021-07-12 23:16] mohadel92 commented on #32
i am getting
`Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: 'The provided scheme is not valid. A scheme should not include special characters such as ":" or "/".'`

[2021-08-02 15:01] pisethx commented on #50
Same problem here. Have you found the solution?

[2021-08-02 15:42] pisethx commented on #50
Lol also you should not expose your twitter consumer key and secret

[2021-08-04 10:24] rvbiljouw opened #52 "Login goes through webview instead of app?"
As the title says, I can't get this package to open the Twitter app and run the login flow through there even though it's installed. Is anyone else experiencing this issue?

I tried it on the main repo (this one) and also on a fork (https://github.com/sabreys/flutter_twitter_login) and both have the same behavior - just wondering if I'm missing something as the docs on TwitterLogin.authorize() say

[2021-09-20 14:36] usamaaelgendy commented on #50
any solution !!

[2022-02-03 10:42] nihp commented on #32
I am using twitter kit. My app rejected and failed to upload to the testflight.

How can I replace the twitter it in the objective -c app.

I am not using the pod. I am using the manual linking of frameworks

[2022-03-03 21:58] hpatel32 opened #53 "Getting null token from TwitterAuthProvider.credential method"
Anyone have any idea why I am getting null token from the credential method?
Below is the value that I get from the method.

TwitterAuth= AuthCredential(providerId: twitter.com, signInMethod: twitter.com, token: null)

Any help will be appreciated.

Thanks!

[2022-05-14 15:44] KriacoesMobile opened #54 "Migrating the plugin to the V2 embedding"
**_The plugin `flutter_twitter_login` uses a deprecated version of the Android embedding.
To avoid unexpected runtime failures, or future build failures, try to see if this plugin supports the Android V2 embedding. Otherwise, consider removing it since a future release of Flutter will remove these deprecated APIs.
If you are plugin author, take a look at the docs for migrating the plugin to the V2